# --- Build & Dependency Files ---
target/
*.jar
*.war
*.ear
*.class
*.log
*.tmp
*.cache
bin/
build/
.gradle/
out/
dependency-reduced-pom.xml

# --- Maven ---
!.mvn/wrapper/maven-wrapper.jar
**/mvnw
**/mvnw.cmd
.mvn/

# --- IDE ---
### IntelliJ ###
.idea/
*.iml
*.ipr
*.iws
*.ids
*.orig
/out/

### Eclipse ###
.settings/
.project
.classpath
.factorypath
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.code-workspace

# --- OS & Editors ---
.DS_Store
*.swp
*.swo
Thumbs.db

# --- Logs & Reports ---
allure-results/
allure-report/
logs/
*.log
test-output/
surefire-reports/
testng-results.xml

# --- Appium (Mobile Testing) ---
appium.log
*.app
*.ipa
*.apk