<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <!-- Console Logging -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- Daily Rolling File Appender -->
        <RollingFile name="DailyFile" fileName="logs/automation-log.log"
                     filePattern="logs/automation-log-%d{yyyy-MM-dd}.log" createOnDemand="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DailyFile"/>
        </Root>
    </Loggers>
</Configuration>
